@font-face {
    font-family: myFont;
    src: url("Pop Sweet.ttf");
}

body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsbYvpVhN0lEorwyCEn1rjMDWzERdoENnP8g&s");
    background-color: white;
    background-repeat: no-repeat;
    background-size:1600px 770px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myFont;
    font-size: 13px;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #444;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
    transition: background-color 0.3s ease;
}

.dropdown-toggle:hover {
    background-color: rgba(0, 0, 0, 1);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    min-width: 160px;
    border: 1px solid #444;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
    backdrop-filter: blur(5px);
    flex-direction: column;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease;
    text-align: center;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.show {
    display: block;
}

.main-option {
    position: relative;
    display: inline-block;
    left: 1225px;
    top: 2px;
    width: 200px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #444;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
    text-align: center;
}


.main-toggle {
    border: none;
    background: transparent;
    box-shadow: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.settings-content {
    border: none;
    background: transparent;
    box-shadow: none;
    padding: 0;
}

.settings-content {
    display: flex;
    flex-direction: column; /* Stacks elements vertically */
    gap: 10px;
}

.custom-dropdown {
    width: 100%;
}

.animal{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 250px;
    right: 580px;
}


button:active {
    opacity: 0.8%;
}

.modal {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    opacity: 1;
    z-index: 999;
}

.modal-inner {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}

.modal-inner h1{
    margin: 0;
}

.modal-inner p {
    line-height: 24px;
    margin: 10px 0;
}


.home{
    position: absolute;
    bottom: 55px;
    width: 50px;
    height: 50px;
    right: 700px;
    cursor: pointer;
    border-radius: 87%;
    background-size: 100px;
    background-repeat: no-repeat;
}

.button1 {
    position: absolute;
    bottom: 55px;
    width: 50px;
    height: 50px;
    right: 500px;
    cursor: pointer;
    border-radius: 87%;
    background-size: 100px;
    background-repeat: no-repeat;
}

.button2 {
    position: absolute;
    bottom: 55px;
    width: 50px;
    height: 50px;
    right: 600px;
    cursor: pointer;
    border-radius: 87%;
    background-size: 100px;
    background-repeat: no-repeat;
}
.button3 {
    position: absolute;
    bottom: 55px;
    width: 50px;
    height: 50px;
    right: 800px;
    cursor: pointer;
    border-radius: 87%;
    background-size: 100px;
    background-repeat: no-repeat;
}
.button4 {
    position: absolute;
    bottom: 55px;
    width: 50px;
    height: 50px;
    right: 900px;
    cursor: pointer;
    border-radius: 87%;
    background-size: 100px;
    background-repeat: no-repeat;
}
.button5 {
    position: absolute;
    bottom: 50px;
    width: 70px;
    height: 70px;
    right: 690px;
    cursor: pointer;
    border-radius: 50%;
    background-size: 100px;
    background-repeat: no-repeat;
}

.banana{
    height: 30px;
    width: 30px;
}
.face{
    height: 30px;
    width: 30px;
}
.kamer{
    height: 30px;
    width: 30px;
}
.work{
    height: 30px;
    width: 30px;
}
.home{
    height: 40px;
    width: 40px;
}
.honger {
    position: absolute;
    left: 300px;
    bottom: 450px;
}

.plezier {
    position: absolute;
    left: 300px;
    bottom: 400px;
}

.slaap{
    position: absolute;
    left: 300px;
    bottom: 350px;
}

.job{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.settings {
    position: absolute;
    width: 35px;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}    to {opacity: 1;}}@keyframes fadeIn {    from {opacity: 0;}    to {opacity:1 ;}}

.button6 {
    font-size: 20px;
    color: black;
    background-color: white;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.button7 {
    font-size: 20px;
    color: black;
    background-color: white;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.button8 {
    font-size: 20px;
    color: black;
    background-color: white;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.button9 {
    font-size: 20px;
    color: black;
    background-color: white;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.button10 {
    font-size: 20px;
    color: yellow;
    background-color: orange;
    margin: 2px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
}
.button11 {
    font-size: 20px;
    color: yellow;
    background-color: green;
    margin: 2px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
}
.button12 {
    font-size: 20px;
    color: yellow;
    background-color: red;
    margin: 2px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
}
.button13 {
    font-size: 20px;
    color: red;
    background-color: gray;
    margin: 2px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
}

button.active {
    background-color: saddlebrown;
}
.West {
    background-image: url('https://www.shutterstock.com/image-vector/wild-west-desert-landscape-8bit-260nw-2363468101.jpg');
    background-repeat: no-repeat;
    background-size: 1600px 850px;

}
.forest {
    background-image: url("https://cdn.leonardo.ai/users/7625cece-074b-42d3-ad21-d3c699d977de/generations/cbcd349b-248e-4618-8db9-709c0a692265/segments/2:4:1/Flux_Dev_A_serene_and_mystical_pixelated_forest_scene_with_vib_1.jpeg");
    background-repeat: no-repeat;
    background-size: 1650px 800px;
}
.sea {
    background-image: url('DALL·E 2025-01-17 13.43.43 - A pixelated image of a beach scene, resembling retro 8-bit video game graphics. The foreground features golden sandy shores with small pixelated seash.webp');
    background-repeat: no-repeat;
    background-size: 1650px 780px;
}
.something {
    background-image: url('https://img.freepik.com/free-vector/pixel-art-mystical-background_52683-87349.jpg');
    background-repeat: no-repeat;
    background-size: 1650px 760px;
}


@keyframes mymove {
    0% {
        top: 650px;
        right: 1px;
        opacity: 1;
    }
    100% {
        top: 350px;
        right: 225px;
        opacity: 0;
    }


}
#animatedDiv {
    position: absolute;
    height: 30px;
    width: 30px;
}
@keyframes move {
    0% {
        left: 1300px;
        top: 650px;
        opacity: 1;
    }
    100% {
        left: 1175px;
        top: 350px;
        opacity: 0;
    }

}

#Animated {
    position: absolute;
    height: 30px;
    width: 30px;
}

@keyframes Animated {
    0% {
        left: 1100px;
        top: 650px;
        opacity: 1;
    }
    100% {
        left: 1200px;
        top: 350px;
        opacity: 0;
    }

}
#AnimatedWork{
    position: absolute;
    height: 30px;
    width: 30px;
}
@keyframes Moving {
    0% {
        left: 1020px;
        top: 650px;
        opacity: 1;
    }
    100% {
        left: 1200px;
        top: 350px;
        opacity: 0;
    }

}
#working{
    position: absolute;
    height: 30px;
    width: 30px;
}

.HUNGRYTEXT {
    font-size: 20px;
    position: absolute;
    right: 400px;
    top: 225px;
    font-weight: bold;
}
.HappyText {
     font-size: 20px;
     position: absolute;
     right: 400px;
     top: 275px;
     font-weight: bold;
 }
.SleepyText{
    font-size: 20px;
    position: absolute;
    right: 400px;
    top: 325px;
    font-weight: bold;
}
.WorkText{
    font-size: 20px;
    position: absolute;
    right: 400px;
    top: 375px;
    font-weight: bold;
}

.homemenu{
    text-align: left;
}
.homemenu1{
    text-align: left;
    font-size: 9px;
}

.banaa {
    position: absolute;
    right: 510px;
    height: 30px;
    width: 30px;
}
.Happy {
    position: absolute;
    right: 510px;
    height: 30px;
    width: 30px;
}
.Sleep{
    position: absolute;
    right: 510px;
    height: 30px;
    width: 30px;
}
