body{
    background-image: url("https://img.freepik.com/premium-vector/tropical-beach-summer-background-palm-trees-seagulls-sea-sand-ocean-island-flat-cartoon_221062-867.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size:1600px 770px;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', monospace;
}

ul {
    list-style: none;
    background: black;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: black;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: black;
}

ul li:hover ul.dropdown {
    display: block;
}

.animal{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 250px;
    right: 580px;
}
.button1 {
    position: absolute;
    bottom: 55px;
    width: 50px;
    height: 50px;
    right: 500px;
    cursor: pointer;
    border-radius: 87%;
    background-size: 100px;
    background-repeat: no-repeat;
}

.button2 {
    position: absolute;
    bottom: 55px;
    width: 50px;
    height: 50px;
    right: 600px;
    cursor: pointer;
    border-radius: 87%;
    background-size: 100px;
    background-repeat: no-repeat;
}
.button3 {
    position: absolute;
    bottom: 55px;
    width: 50px;
    height: 50px;
    right: 800px;
    cursor: pointer;
    border-radius: 87%;
    background-size: 100px;
    background-repeat: no-repeat;
}
.button4 {
    position: absolute;
    bottom: 55px;
    width: 50px;
    height: 50px;
    right: 900px;
    cursor: pointer;
    border-radius: 87%;
    background-size: 100px;
    background-repeat: no-repeat;
}
.button5 {
    position: absolute;
    bottom: 50px;
    width: 70px;
    height: 70px;
    right: 690px;
    cursor: pointer;
    border-radius: 50%;
    background-size: 100px;
    background-repeat: no-repeat;
}

.banana{
    height: 30px;
    width: 30px;
}
.face{
    height: 30px;
    width: 30px;
}
.kamer{
    height: 30px;
    width: 30px;
}
.work{
    height: 30px;
    width: 30px;
}
.home{
    height: 40px;
    width: 40px;
}
.honger {
    position: absolute;
    left: 100px;
    bottom: 500px;
}

.plezier {
    position: absolute;
    left: 100px;
    bottom: 440px;
}

.slaap{
    position: absolute;
    left: 100px;
    bottom: 380px;
}

.job{
    position: absolute;
    left: 100px;
    bottom: 320px;
}

header {
    position: absolute;
    right: 630px;
    top: 150px;
    font-weight: bold;
    font-size: 30px;
}

.settings {
    position: absolute;
    width: 35px;
}
audio{
    position: absolute;
    right: 50px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}    to {opacity: 1;}}@keyframes fadeIn {    from {opacity: 0;}    to {opacity:1 ;}}

.button6 {
    font-size: 20px;
    color: yellow;
    background-color: orange;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.button7 {
    font-size: 20px;
    color: yellow;
    background-color: orange;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.button8 {
    font-size: 20px;
    color: yellow;
    background-color: orange;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.button9 {
    font-size: 20px;
    color: yellow;
    background-color: orange;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.button10 {
    font-size: 20px;
    color: yellow;
    background-color: orange;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.button11 {
    font-size: 20px;
    color: yellow;
    background-color: green;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.button12 {
    font-size: 20px;
    color: yellow;
    background-color: red;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.button13 {
    font-size: 20px;
    color: red;
    background-color: gray;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button.active {
    background-color: green;
}
.dark-mode {
    background-image: url('https://www.shutterstock.com/image-vector/wild-west-desert-landscape-8bit-260nw-2363468101.jpg');
    background-repeat: no-repeat;
    background-size: 1600px 850px;

}
.forest {
    background-image: url("https://cdn.leonardo.ai/users/7625cece-074b-42d3-ad21-d3c699d977de/generations/cbcd349b-248e-4618-8db9-709c0a692265/segments/2:4:1/Flux_Dev_A_serene_and_mystical_pixelated_forest_scene_with_vib_1.jpeg");
    background-repeat: no-repeat;
    background-size: 1650px 800px;
}
.sea {
    background-image: url('DALL·E 2025-01-17 13.43.43 - A pixelated image of a beach scene, resembling retro 8-bit video game graphics. The foreground features golden sandy shores with small pixelated seash.webp');
    background-repeat: no-repeat;
    background-size: 1650px 780px;
}
.something {
    background-image: url('https://img.freepik.com/free-vector/pixel-art-mystical-background_52683-87349.jpg');
    background-repeat: no-repeat;
    background-size: 1650px 760px;
}
